body {
    background-color: aliceblue;
    max-width: 800px;
    margin: 0 auto;

}

h1 {
    color: black;

}

h1.page-title {
    text-align: center;
}

h2 {
    color: black;
}

p {
    color: black;
}

li {
    color: black;
}

a {
    color: black;
    text-decoration: none;

}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100%;

}

.image-container img {
    width: 500px;
    position: relative;
    top: 20px;

}

table th,
table td {
    border: 1px solid black;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 50%;
    width: 60%;
    height: 30%;
    color: black;
    background-color: aliceblue;
}